<%- include('../partials/header') %>

<form action="/locations" method="POST" id="new-form">
  <label>Country:</label>
  <input type="text" name="country">
  <label>Location Details:</label>
  <input type="text" name="locationDetails">
  <label>Region:</label>
  <input type="text" name="region">
  <label>Sub Region:</label>
  <input type="text" name="subRegion">
  <input type="submit" value="ADD THAT PLACE">  
</form>

<%- include('../partials/footer') %>