<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>Your Wine List</title>
</head>
<body>

<!-- HERO SECTION -->
<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">

<!-- COLUMNS -->
      <div class="columns is-centered">
        
        <div class="column is-half">
          <div class="card has-text-centered">
            <div class="card-content">
              <h1 class="title is-1">YOUR WINE LIST AWAITS!</h1>
              <h5>LOG IN TO BEGIN BUILDING</h3>
            </div>
            <footer class="card-footer">
              <div class="card-footer-item">
                <a href="/auth/google" class="button login">LOG IN</a>
              </div>
            </footer>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


<%- include('./partials/footer') %>