<%- include('../partials/header') %>

<h1>THE JUICE</h1>
<thead>
  <tr>
    <th>Vintage</th>
    <th>Location</th>
    <th>Producer</th>
    <th>Variety</th>
    <th>Price</th>
  </tr>
</thead>
<tbody>
  <% wines.forEach(function(w) { %>
  <tr>
    <td><%= w.vintage %></td>

  </tr>
  <% }); %>
</tbody>
<a href="/wines/new">ADD SOME JUICE!</a>

<%- include('../partials/footer') %>