<%- include('../partials/header') %>

<div class="columns is-centered is-vcentered">
  <div class="column is-half">
    <form action="/wines/home" method="POST">
      <div class="field is-grouped-centered">
        <label class="label">Producer:</label>
          <div class="control">
            <input class="input" type="text" name="producer">
          </div>
      </div>
      <div class="field">
        <label class="label">Producer Details:</label>
          <div class="control">
            <input class="input" type="text" name="producerDetails">
          </div>
      </div>
      <div class="field">
        <label class="label">Variety:</label>
          <div class="control">
            <input class="input" type="text" name="variety">
          </div>
      </div>
      <div class="field">
        <label class="label">Vintage:</label>
          <div class="control">
            <input class="input" type="number" required pattern="\d{4}" name="vintage">
          </div>
      </div>    
      <div class="field">
        <label class="label">Price:</label>
          <div class="control has-icons-left">
            <input class="input" type="number" name="price">
            <span class="icon is-left">
              <i class="fa fa-usd"></i>
            </span>
          </div>
        <p class="help">Please enter amount in USD.</p>  
      </div>
        <input class="button" type="submit" value="ADD THAT JUICE">  
    </form>
  </div>
</div>

<%- include('../partials/footer') %>